//
// MDC Theme
//

@import "@material/theme/color-palette";

$mdc-theme-primary: $material-color-pink-500;
$mdc-theme-secondary: $material-color-indigo-600;
$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
$mdc-theme-error: $material-color-red-a100;